.animation-modal-message{
    animation: display-modal-message 500ms;
}

@keyframes display-modal-message {
    0%{
        transform: translateX(500px);
    }80%{
        transform: translate(-50px);
    }100%{
        transform: translateX(0px);
    }
}