.add-stock-button:hover::after {
    text-wrap: nowrap;
    overflow: hidden;
    content: "Crear Material";
    animation: text 300ms ease-in;
}

@keyframes text {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}